body {
    margin: 0;
    padding: 0;
}

/* Flex */
.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.jus-center {
    display: flex;
    justify-content: center;
}

.al-itm-center {
    display: flex;
    align-items: center;
}

.item-end {
    display: flex;
    justify-content: flex-end;
}

/*background*/
.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}
/* marging */
.marg {
    margin: 15px;
}

.marg-top {
    margin-top: 7vh;
}
.marg-top1{
    margin-top:3vh;
}
/* nav bar */
.nav {
    top: 0;
    width: 100%;
    height: auto;
    position: fixed;
    border-bottom: solid 1px yellow;
    box-shadow: 0 5px 15px black;
}

.nav1 {
    bottom: 0;
    width: 100%;
    height: 10vh;
    border-bottom: solid 1px yellow;
    box-shadow: 0 5px 15px black;
    background-color: chartreuse;
}

/* grid */
.grille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 10px;
}

.grille1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 10px;
}
/* item */
.item {
    grid-area: 1/1 / span 3/ span 4;
}

.item1 {
    grid-area: 4/1 / span 3/ span 4;
}

.item2 {
    grid-area: 8/1 / span 1 /span 4;
}

.item3 {
    grid-area: 1/1 / span 3 / span 3;
}

/* Position-grille*/
.col0 {
    grid-column-start: 1;
}

.col1 {
    grid-column-start: 2;
}

.col2 {
    grid-column-start: 3;
}

.col3 {
    grid-column-start: 4;
}

.row1 {
    grid-row-start: 2;
}
.row7 {
    grid-row-start: 7;
}

.row8 {
    grid-row-start: 8;
}

.row9 {
    grid-row-start: 9;
}

.row10 {
    grid-row-start: 10;
}

.card {
    min-height: 230px;
    height: auto;
    width: 200px;
    border: solid 2px black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}

img {
    width: 100%;
    height: auto;
}

.size>img {
    width: 200px;
    height: 100px;
}
